* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.slick-slider .slick-track {
    display: flex;
    align-items: center;
}

img {
    width: 100%;
}

.bg-col {
    background-color: aqua;
}

/* .pxy-1 {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 58px;
    padding-bottom: 58px;
} */